#overlay {
  background: #00000080;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.3s ease; /* Smooth transition */
  display: flex;
  justify-content: center;
  align-items: center;
  .contentWrapper {
    direction: rtl;
    width: 560px;
    height: auto;
    background-color: #28a745;
    color: #fff;
    border-radius: 8px;
    padding: 0.5em;
    
    // overflow-y: scroll;
    // max-height:90vh;
  }
}
a {
  cursor: pointer;
}
