<div class="container">
  <h1 class="heading font-bold text-2xl capitalize">Welcome , please login</h1>

  <form [formGroup]="loginF" (ngSubmit)="submit()">
    <div class="grid grid-cols-1 gap-5">
      <app-input-control
        [inp]="{
          label: 'username',
          control: getControl('username'),
          type: 'text',
          placeholder: 'Jhon doe'
        }"
      />
      <app-input-control
        [inp]="{
          label: 'password',
          control: getControl('password'),
          type: 'password',
          placeholder: ''
        }"
      />
    </div>
    <div class="text-start">
      <h1>{{ this.errorname }}</h1>
    </div>
    <button [disabled]="!loginF.valid" type="submit">Login</button>
  </form>
</div>
