<nav>
  <div class="container">
    <ul class="flex">
      <li *ngIf="isLogin" (click)="logOut()">logout</li>
      <li *ngIf="!isLogin" [routerLink]="['/login']" routerLinkActive="active">
        login
      </li>
      <li *ngIf="!isLogin" [routerLink]="['/signUp']" routerLinkActive="active">
        sign up
      </li>
      <li
        *ngIf="isLogin"
        [routerLink]="['/createTrip']"
        routerLinkActive="active"
      >
        Create Trip
      </li>
      <li
        *ngIf="isLogin"
        [routerLink]="['/prevTrips']"
        routerLinkActive="active"
      >
        previous Trips
      </li>
    </ul>
  </div>
</nav>
