<div class="container">
  <app-nav />
  <router-outlet />
  <!-- <app-create-trip></app-create-trip> -->
</div>

<!-- <div class="container history-container">
  <h1>سجل الرحلات</h1>
  <ul>
    <li>رحلة بتاريخ 20/02/2025 - من القاهرة إلى الجيزة - التكلفة: 50 جنيه</li>
    <li>
      رحلة بتاريخ 18/02/2025 - من المعادي إلى مدينة نصر - التكلفة: 80 جنيه
    </li>
  </ul>
</div>

<div class="container payment-container">
  <h1>الدفع وتأكيد الحجز</h1>
  <label>اختر وسيلة الدفع</label>
  <select>
    <option>بطاقة ائتمانية</option>
    <option>Apple Pay</option>
    <option>Google Pay</option>
  </select>
  <button>تأكيد الدفع</button>
</div>

<div class="container rating-container">
  <h1>تقييم السائق</h1>
  <label>قيم الرحلة:</label>
  <select>
    <option>⭐</option>
    <option>⭐⭐</option>
    <option>⭐⭐⭐</option>
    <option>⭐⭐⭐⭐</option>
    <option>⭐⭐⭐⭐⭐</option>
  </select>
  <button>إرسال التقييم</button>
</div>

<div class="container admin-container">
  <h1>لوحة التحكم</h1>
  <p>عدد الرحلات اليوم: 20</p>
  <p>إجمالي الأرباح: 5000 جنيه</p>
  <button>تحديث البيانات</button>
</div> -->
