:root {
  // color
  --bodyColor: #222222;
  --bodyBg: #fbfbfb;
  --bodyBg1: #f7f7f7;
  --whiteColor: #ffffff;
  --whitegrey: #6a7c92;
  --whitegrey1: #ededed;
  --whitegrey2: #f2f6f7;
  --whitegrey3: #e7deff;
  --headingColor: #222222;
  --contentColor: #5f6c76;
  --contentColor2: #5c727d;
  --primaryColor: #5f2ded;
  --secondaryColor: #f2277e;
  --secondaryColor2: #ff275a;
  --secondaryColor3: #ff2828;
  --blackColor: #000000;
  --blackColor2: #191b1e;
  --darkblack: #0c0e2b;
  --darkcolor: #263546;
  --darkgray: #9fa2ce;
  --deepgray: #202942;
  --lightGrey: #7b8696;
  --lightGrey2: #7b8697;
  --lightGrey3: #7e858b;
  --lightGrey4: #a2a9b6;
  --lightGrey5: #f0f0f5;
  --lightGrey8: #f0f1f3;
  --lightGrey6: #6d6e75;
  --lightGrey7: #f3f4fd;
  --lightGrey9: #9f98b2;
  --lightGrey10: #f5f5fe;
  --lightGrey11: #f7f8fd;
  --lightGrey12: #f0f4f7;
  --greencolor: #44cea9;
  --greencolor2: #1ec902;
  --greencolor3: #2ec14a;
  --orange: #fe2323;
  --borderColor: #ec1515;
  --borderColor1: #e5e5e5;
  --borderColor2: #dddddd;
  --borderColor3: #f8f8f8;
  --borderColor4: #cacaca;
  --darkdeep1: #170f2f;
  --darkdeep2: #37404e;
  --darkdeep3: #f4f4f8;
  --darkdeep4: #949392;
  --darkdeep5: #62605d;
  --darkdeep6: #7e8285;
  --darkdeep7: #c4c4c4;
  --indigo: #b13bff;
  --deepgreen: #133344;
  --deepblue: #505975;
  --deepred: #dc164d;
  --skycolor: #03a9f4;
  --yellow: #ff912c;
  --yellow1: #f0b410;
  --blue: #2864ff;
  --naveBlue: #17093e;
  //--boxshadow1:0px 16px 32px 0px rgb(0 0 0 / 4%);
  //--boxshadow2:0px 0px 0px 8px rgb(255 255 255 / 20%);
  --borderRadius: 4px;
  --borderRadius2: 20px;
  --borderRadius3: 10px;
  --transition: 0.3s;
  //--gradientColor : linear-gradient(132.71deg, var(--secondaryColor) 18.12%, var(--headingColor)2 81.74%);
  //--gradientColor2 :  linear-gradient(3.98deg, rgba(0, 0, 0, 0) 3.24%, var(--blackColor) 93.62%);
  //--defaultShadow : 4px 4px 60px rgba(99, 69, 237, 0.2);
  --bodyFont: "Inter", sans-serif;
  --headingFont: "Hind", sans-serif;
  --contentFont: "Inter", sans-serif;
}

.is_dark {
  --bodyColor: #fff;
  --bodyBg: #0c0e2b;
  --bodyBg1: #0c0e2b;
  --headingColor: #fff;
  --blackColor: #fff;
  --blackColor2: #fff;
  --whiteColor: #0c0e2b;
  --darkdeep2: #fff;
  --darkblack: #fff;
  --lightGrey: #0c0e2b;
  --lightGrey7: #170f2f;
  --lightGrey10: #170f2f;
  --lightGrey11: #170f2f;
  --contentColor: #fff;
  --darkdeep5: #fff;
  --borderColor: #312a57;
  --whitegrey: #fff;
  --whitegrey1: #312a57;
  --whitegrey2: #312a57;
  --deepgray: #fff;
  --borderColor2: #fff;
  --darkdeep3: #17093e;
  --contentColor2: #fff;
  --deepgreen: #fff;
  --bs-body-color: #fff;
}

// Responsive Variables
$device-xxl: "(min-width: 1500px) and (max-width: 1920px)";
$device-xl: "(min-width: 1366px) and (max-width: 1499px)";
$device-lg: "(min-width: 992px) and (max-width: 1365px)";
$device-md: "(min-width: 768px) and (max-width: 991px)";
$device-sm: "(max-width: 767px)";
$device-sm-large: "(min-width: 576px) and (max-width: 767px)";
$device-sm-small: "(min-width: 320px) and (max-width: 575px)";
